consultaGarantiav1-20210608/xml-resources/web-service-references/aconsultagarantia/wsdl/190.152.15.66_8080/Sistema_AbastcedoraLocal/servlet/aconsultagarantia.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="ConsultaGarantia" targetNamespace="Sistema_Abastcedora" xmlns:wsdlns="Sistema_Abastcedora" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="Sistema_Abastcedora">
	<types>
		<schema targetNamespace="Sistema_Abastcedora" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" elementFormDefault="qualified">
			<complexType name="SDTGarantia">
				<sequence>
					<element name="CGCCODCOM" type="xsd:short">
					</element>
					<element name="CGCComercializadora" type="xsd:string">
					</element>
					<element name="CGCUNIMON" type="xsd:byte">
					</element>
					<element name="CGCVALCOM" type="xsd:double">
					</element>
					<element name="CGCSUMAVA" type="xsd:double">
					</element>
					<element name="Garantia98" type="xsd:double">
					</element>
					<element name="CGCSALDO" type="xsd:double">
					</element>
					<element name="SaldoDisponible" type="xsd:double">
					</element>
					<element name="PorcentajeUso" type="xsd:double">
					</element>
				</sequence>
			</complexType>
			<element name="ConsultaGarantia.Execute">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Cgccodcom" type="xsd:short"/>
						<element minOccurs="1" maxOccurs="1" name="Clave" type="xsd:string"/>
					</sequence>
				</complexType>
			</element>
			<element name="ConsultaGarantia.ExecuteResponse">
				<complexType>
					<sequence>
						<element minOccurs="1" maxOccurs="1" name="Garantia" type="tns:SDTGarantia"/>
					</sequence>
				</complexType>
			</element>
		</schema>
	</types>
	<message name="ConsultaGarantia.ExecuteSoapIn">
		<part name="parameters" element="tns:ConsultaGarantia.Execute"/>
	</message>
	<message name="ConsultaGarantia.ExecuteSoapOut">
		<part name="parameters" element="tns:ConsultaGarantia.ExecuteResponse"/>
	</message>
	<portType name="ConsultaGarantiaSoapPort">
		<operation name="Execute">
			<input message="wsdlns:ConsultaGarantia.ExecuteSoapIn"/>
			<output message="wsdlns:ConsultaGarantia.ExecuteSoapOut"/>
		</operation>
	</portType>
	<binding name="ConsultaGarantiaSoapBinding" type="wsdlns:ConsultaGarantiaSoapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Execute">
			<soap:operation soapAction="Sistema_Abastcedoraaction/ACONSULTAGARANTIA.Execute"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ConsultaGarantia">
		<port name="ConsultaGarantiaSoapPort" binding="wsdlns:ConsultaGarantiaSoapBinding">
			<soap:address location="http://190.152.15.66:8080/Sistema_AbastcedoraLocal/servlet/aconsultagarantia"/>
		</port>
	</service>
</definitions>
