envioNotaPedido-20210608/src/META-INF/wsdl/190.152.15.66_9080/SCI_WS_GOEA_SrvPrv/services/GeneracionOEAbasPrv/wsdl/GeneracionOEAbasPrv.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://goea.sci.pco.com" xmlns:impl="http://goea.sci.pco.com" xmlns:intf="http://goea.sci.pco.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema targetNamespace="http://goea.sci.pco.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://goea.sci.pco.com" xmlns:intf="http://goea.sci.pco.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="generarOrdenEntregaResponse">
    <complexType>
     <sequence>
      <element name="generarOrdenEntregaReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="generarOrdenEntrega">
    <complexType>
     <sequence>
      <element name="tramaEnviadaXBanco" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  </wsdl:types>
  <wsdl:message name="generarOrdenEntregaRequest">
    <wsdl:part element="impl:generarOrdenEntrega" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generarOrdenEntregaResponse">
    <wsdl:part element="impl:generarOrdenEntregaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GeneracionOEAbasPrv">
    <wsdl:operation name="generarOrdenEntrega">
      <wsdl:input message="impl:generarOrdenEntregaRequest" name="generarOrdenEntregaRequest">
    </wsdl:input>
      <wsdl:output message="impl:generarOrdenEntregaResponse" name="generarOrdenEntregaResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeneracionOEAbasPrvSoapBinding" type="impl:GeneracionOEAbasPrv">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="generarOrdenEntrega">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="generarOrdenEntregaRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="generarOrdenEntregaResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GeneracionOEAbasPrvService">
    <wsdl:port binding="impl:GeneracionOEAbasPrvSoapBinding" name="GeneracionOEAbasPrv">
      <wsdlsoap:address location="http://190.152.15.66:9080/SCI_WS_GOEA_SrvPrv/services/GeneracionOEAbasPrv"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>